.login {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    align-items: center;
    margin-top: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.input {
    margin-top: 10px;
}